
    <div class="column is-5 mb-6">
            <div class="box">
                <h5 class="title is-5 has-text-centered">{{ box_content.device_name }}</h5>
                <table class="table is-striped is-fullwidth is-hoverable">
                    <tbody>
                        <tr>
                            <td>Water Quality</td>
                            {% if box_content.turbidityrecord__water_status == "dirty" %}
                            <td class="has-text-right has-background-danger">
                                    <span class="has-text-white">dirty</span>                        
                            </td>
                            {% elif box_content.turbidityrecord__water_status == null %}
                            <td>No records yet.</td>
                            {% else %}
                            <td class="has-text-right">
                                <span class="has-text-primary-dark">{{ box_content.turbidityrecord__water_status }}</span>                        
                            </td>
                            {% endif %}
                        </tr>
                        <tr>

                            <td>Valve Status</td>
                            <td>
                                {% if box_content.turbidityrecord__valve_status == "off" %}
                                    <input class="toggle" id="{{ box_content.id}}" type="checkbox"/>
                                {% elif box_content.turbidityrecord__valve_status == None %}
                                    No records yet.
                                {% else %}
                                    <input class="toggle" id="{{ box_content.id}}" type="checkbox" checked/>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>Location</td>
                            <td><span>{{ box_content.location }}</span></td>
                        </tr>
                        <tr>
                            <td>Turbidity Records</td>
                            <td>
                                <a href="{% url 'turbidity_records' box_content.id %}">View Records</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
    </div>
