<div class="content is-fullwidth">
    <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}

        <div class="field">
            <label class="label">Component Name</label>
            <div class="control">
              <input class="input" type="text" value="Camera Module">
            </div>
            <p class="help is-danger">This field is required</p>
        </div>

        <div class="field">
            <label class="label">Device Linked</label>
            <div class="control">
                <div class="select is-fullwidth">
                    <select>
                        <option></option>
                        {% for device in devices %}
                            <option>{{ device.device_name }}</option>
                        {% endfor %}
                    </select>
                  </div>
            </div>
            <p class="help is-danger">This field is required</p>
        </div>


        <div class="field">
            <label class="label">Install Date</label>
            <div class="control">
              <input class="input" type="date" value="2022-10-12">
            </div>
            <p class="help is-danger">Invalid date selected</p>
        </div>


        <div class="field">
            <label class="label">Manage By</label>
            <div class="control">
              <input class="input" type="text" value="Jamil Magsuci">
            </div>
        </div>
    </form>
</div>