<div class="content is-fullwidth">
    <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}

        <div class="field">
            <label class="label">Device Name</label>
            <div class="control">
              <input class="input" type="text" value="Detector 1">
            </div>
        </div>


        <div class="field">
            <label class="label">Status</label>
            <div class="control">
              <div class="select is-fullwidth">
                <select >
                  <option>online</option>
                  <option>offline</option>
                </select>
              </div>
            </div>
        </div>

        
        <div class="field">
            <label class="label">Location</label>
            <div class="control">
              <input class="input" type="text" value="Sample Location">
            </div>
        </div>


        <div class="field">
            <label class="label">Install Date</label>
            <div class="control">
              <input class="input" type="date" value="2022-10-13">
            </div>
        </div>


        <div class="field">
            <label class="label">Manage By</label>
            <div class="control">
              <input class="input" type="text" value="Jamil Magsuci">
            </div>
        </div>
    </form>
</div>