<script>
    $(document).ready(function() {


    // navbar menu toggle
    $('.sub-btn').click(function() {
        $(this).next('.sub-menu').slideToggle();
        $(this).find('.dropdown').toggleClass('rotate');
    });
    //jquery for expand and collapse the sidebar
    $('.menu-btn').click(function() {
        $('.side-bar').addClass('active');
        $('.menu-btn').css("visibility", "hidden");
    });
    $('.close-btn').click(function() {
        $('.side-bar').removeClass('active');
        $('.menu-btn').css("visibility", "visible");
    });


    // close button modals
    (document.querySelectorAll('.modal-background, .modal-close, .modal-card-head .delete, .modal-card-foot .button') || []).forEach(($close) => {
        const $target = $close.closest('.modal');

        $close.addEventListener('click', () => {
        $target.classList.remove('is-active');
        });
    });

    // sidebar profile photo
    function enableOverlay() {
        const imgPhoto = document.getElementById('img-camera');
        imgPhoto.style.color = "#fff";
        imgPhoto.style.cursor = "pointer";

        const imgProfile = document.getElementById('img-profile');
        imgProfile.style.opacity = "1"
        imgProfile.style.transition = ".5s ease"
        imgProfile.style.backfaceVisibility = "hidden"
        imgProfile.style.cursor = "pointer"
        imgProfile.style.display = "block"


        const imgOverlay = document.getElementById('id-img-overlay')
        // imgOverlay.style.transition = ".5s ease"
        imgOverlay.style.opacity = "0"
        imgOverlay.style.position = "absolute"
        imgOverlay.style.transform = "translate(170%, -250%)"

        const imageHolder = document.getElementById('id-img-holder');
        imageHolder.addEventListener('mouseover', (e) => {
            imgProfile.style.opacity = "0.3"
            imgOverlay.style.opacity = "1"

        })

        imageHolder.addEventListener('mouseout', (e) => {
            imgProfile.style.opacity = "1"
            imgOverlay.style.opacity = "0"

        })

        imgPhoto.addEventListener('click', (e) => {
            console.log("To Do: Upload Photo dialog. -jamil magsuci")
        })
    }

    enableOverlay();


    // display dashboard
    async function displayDashboard() {
        const recordsAPIURL = window.location.origin + '/api/turbidity-records/'
        const recordsURL = window.location.origin + '/turbidity-records/'
        const addDeviceURL = window.location.origin + '/add-device/'
        const listDevice = window.location.origin + '/list-devices/'


        fetch(recordsAPIURL)
        .then((response) => response.json())
        .then((data) => {
            const boxContainer = document.querySelector('#box-container');

            if (data != false) {
                for (const record of data) {
                    const deviceName = record['device_name']
                    const deviceID = record['id']
                    const location = record['location']
                    const viewRecordsURL = recordsURL + record['id']
                    const latestrecord = record['records'][record['records'].length - 1]
                    const waterCleanHTML = `<td class="has-text-success has-text-right"><span id="water-stat-${deviceID}">clean</span></td>`
                    const waterDirtyHTML = `<td class="has-text-white has-background-danger has-text-right"><span id="water-stat-${deviceID}">dirty</span></td>`
                    const waterNoRecHTML = `<td><span id="water-stat-${deviceID}">No records yet</span></td>`

                    const valveOffHTML = `<td><input onclick="toggleValve(${deviceID}, this)" class="toggle" type="checkbox"/></td>`
                    const valveOnHTML = `<td><input onclick="toggleValve(${deviceID}, this)" class="toggle" type="checkbox" checked/></td>`

                    if (latestrecord != undefined) {
                        boxContainer.insertAdjacentHTML('beforeend', `<div class="column is-5 mb-6"><a href="${listDevice}"><div class="box"><h5 class="title is-5 has-text-centered">${deviceName}</h5><table class="table is-striped is-fullwidth is-hoverable"><tbody><tr><td>Water Quality</td>${latestrecord['water_status'] == '' ? waterNoRecHTML : (latestrecord['water_status'] == 'clean' ? waterCleanHTML : waterDirtyHTML)}</tr><tr><td>Valve Status</td>${latestrecord['valve_status'] == 'on' ? valveOnHTML : valveOffHTML}</tr><tr><td>Location</td><td><span>${location}</span></td></tr><tr><td>Turbidity Records</td><td><a href="${viewRecordsURL}">View Records</a></td></tr></tbody></table></div></a></div>`)
                    } else {
                        boxContainer.insertAdjacentHTML('beforeend', `<div class="column is-5 mb-6"><a href="${listDevice}"><div class="box"><h5 class="title is-5 has-text-centered">${deviceName}</h5><table class="table is-striped is-fullwidth is-hoverable"><tbody><tr><td>Water Quality</td>${waterNoRecHTML}</tr><tr><td>Valve Status</td>${valveOffHTML}</tr><tr><td>Location</td><td><span>${location}</span></td></tr><tr><td>Turbidity Records</td><td><a href="${viewRecordsURL}">View Records</a></td></tr></tbody></table></div></a></div>`)
                    }
                }
            } else {
                boxContainer.insertAdjacentHTML('beforeend' , `<div class="column is-5 mb-6"><a href="${addDeviceURL}"><div class="box box-blank"><div class="content vh-center"><i class="fa fa-plus fa-6x has-text-grey"></i><h2 class="title is-2 has-text-grey">Add Device</h2></div></div></a></div>`)
            }

        });     
    }

    displayDashboard();

    });


    // valve control
    async function toggleValve(deviceID, el) {
        const waterStat = document.getElementById(`water-stat-${deviceID}`).textContent;
        const waterStatText = (waterStat == 'No records yet' ? '' : waterStat)
        const recordsAPIURL = window.location.origin + '/api/turbidity-records/'
        const valveStat = el.checked ? "on" :  "off"
        const csrf = '{{ csrf }}'
        const user = '{{ user }}'
        const details = `User ${user} has manually turned ${valveStat.toUpperCase()} the valve.`


        data = {
            'valve_status': valveStat,
            'water_status': waterStatText,
            'record_image': '',
            'record_device': deviceID,
            'details': details
        }
        
        fetch(recordsAPIURL + deviceID, {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrf,
            },
            body: JSON.stringify(data),
        })
            .then((response) => response.json())
            .then((data) => console.log(data))
            .then(() => location.reload())
    }
</script>