<script>

    $(document).ready(function() {

        // navbar menu toggle
        $('.sub-btn').click(function() {
            $(this).next('.sub-menu').slideToggle();
            $(this).find('.dropdown').toggleClass('rotate');
        });
        
        $('.menu-btn').click(function() {
            $('.side-bar').addClass('active');
            $('.menu-btn').css("visibility", "hidden");
        });

        $('.close-btn').click(function() {
            $('.side-bar').removeClass('active');
            $('.menu-btn').css("visibility", "visible");
        });


        // close button modals
        (document.querySelectorAll('.modal-background, .modal-close, .modal-card-head .delete, .modal-card-foot .button') || []).forEach(($close) => {
            const $target = $close.closest('.modal');

            $close.addEventListener('change', () => {
                $target.classList.remove('is-active');
            });
        });
    });



    // sidebar profile photo
    function uploadProfileImage(input) {
        // check if there are files selected
        if (input.files && input.files[0]) {
            const imageFile = input.files[0];
            const formData = new FormData();
            const csrf = document.querySelector('input[name=csrfmiddlewaretoken]').value
            const user_id = document.querySelector('#id_profile_image').getAttribute('data-id')
            const imageToDisplay = document.getElementById('img-profile')
            const root = location.protocol + '//' + location.host;

            // construct data to send on post request

            formData.append("profile_image", imageFile);

            axios.all([
                axios.patch(`${root}/api/users/${user_id}`, formData, {
                    headers: {
                        "Content-Type": "multipart/form-data",
                        "X-CSRFTOKEN": csrf,
                    }
                }),
            ])
                .then(axios.spread((postImage) => {
                    const imgProfile = document.getElementById('img-profile');
                    const imgOverlay = document.getElementById('id-img-overlay')

                    imageToDisplay.src = postImage.data.profile_image
                    imgProfile.style.opacity = "1"
                    imgOverlay.style.opacity = "0"
                    
                }))
                .catch(err => console.log(err))

        }

    }

    function enableOverlay() {
        const imgCamera = document.getElementById('img-camera');

        if (imgCamera) {
            imgCamera.style.color = "#fff";
            imgCamera.style.cursor = "pointer";

            const imgProfile = document.getElementById('img-profile');
            imgProfile.style.opacity = "1"
            imgProfile.style.transition = ".5s ease"
            imgProfile.style.backfaceVisibility = "hidden"
            imgProfile.style.cursor = "pointer"
            imgProfile.style.display = "block"


            const imgOverlay = document.getElementById('id-img-overlay')
            imgOverlay.style.opacity = "0"
            imgOverlay.style.position = "absolute"
            imgOverlay.style.transform = "translate(180%, 150%)"
            imgOverlay.style.zIndex = "999"

            const imageHolder = document.getElementById('id-img-holder');
            imageHolder.addEventListener('mouseover', (e) => {
                imgProfile.style.opacity = "0.3"
                imgOverlay.style.opacity = "1"

            })

            imageHolder.addEventListener('mouseout', (e) => {
                imgProfile.style.opacity = "1"
                imgOverlay.style.opacity = "0"

            })

            imgCamera.addEventListener('click', (e) => {
                document.getElementById('id_profile_image').click();
            })
        }

    }


    function defaultProfilePhoto() {
        const imageToDisplay = document.getElementById('img-profile')
        axios.get(imageToDisplay.src)
        .catch(err => {
            const root = location.protocol + '//' + location.host;
            const defaultProfile = '/static/core/img/profile.png'
            imageToDisplay.src = `${root}${defaultProfile}`
        })
    }

    // create dashboard
    function addDeviceHTML(record, boxContainer) {
        // api
        const recordsAPIURL = window.location.origin + '/api/device-records/'
        const recordsURL = window.location.origin + '/device-records/'

        // data
        const deviceID = record['id']
        const deviceName = record['device_name']
        const location = record['location']
        const latestRecord = record['records'].pop()
        const deviceRecordURL = `${recordsURL}${deviceID}`

        boxContainer.insertAdjacentHTML('beforeend' , `<div class="column is-5 mb-6"><div class="box"  data-id="${deviceID}"><h5 class="title is-5 has-text-centered" id="deviceName">${deviceName}</h5><table class="table is-striped is-fullwidth is-hoverable"><tbody><tr><td>Water Quality</td><td>No records yet</td></tr><tr><td>Valve Status</td><td><input class="toggle" type="checkbox" id="valveStatus"></td></tr><tr><td>Location</td><td><span id="location">${location}</span></td></tr><tr><td>Device Records</td><td><a id="viewRecords" href="${deviceRecordURL}">View Records</a></td></tr></tbody></table></div></div>`)

        if (latestRecord) {

            // html
            const deviceContainer = boxContainer.querySelector(`div.box[data-id='${deviceID}']`)
            const waterStatElement = deviceContainer.querySelector('tr:nth-child(1) > td:nth-child(2)')
            const valveStatElement = deviceContainer.querySelector('tr:nth-child(2) > td:nth-child(2)')

            // data
            const waterStat = latestRecord['water_status']
            const valveStat = latestRecord['valve_status']

            if (waterStat == 'dirty') {
                waterStatElement.classList.add('has-text-white', 'has-background-danger')
            } else if (waterStat == 'clean') {
                waterStatElement.classList.add('has-text-success')
            }

            if (valveStat == 'on') {
                valveStatElement.querySelector('input').setAttribute('checked', '')
            }
        }

        
    }

    function noDeviceHTML() {
        const boxContainer = document.querySelector('#box-container');
        const addDeviceURL = window.location.origin + '/add-device/'

        boxContainer.insertAdjacentHTML('beforeend' , `<div class="column is-5 mb-6"><a href="${addDeviceURL}"><div class="box box-blank"><div class="content vh-center"><i class="fa fa-plus fa-6x has-text-grey"></i><h2 class="title is-2 has-text-grey">Add Device</h2></div></div></a></div>`)
    }

    function createRefreshDashboard() {
        const recordsAPIURL = window.location.origin + '/api/device-records/'
        const boxContainer = document.querySelector('#box-container');

        if (boxContainer) {
            axios.get(recordsAPIURL)
            .then(resp => {
                const data = resp.data

                if (data.length == 0) {
                    noDeviceHTML();
                } else {
                    data.forEach(record => addDeviceHTML(record, boxContainer))
                }
            })
            .then(toggleValve)
            .then(() => {
                setInterval(refreshDashboard, 15000)
            })
            .catch(err => console.log(err))
        }
    }



    // valve control
    function toggleValve() {
        // html
        const boxes = document.querySelectorAll('.box')
        boxes.forEach(box => {
            const toggleEl = box.querySelector('#valveStatus')
            toggleEl.addEventListener('click', (toggleEl) => {
                updateDeviceRecord(toggleEl, box)
            })
        })
    }

    function updateDeviceRecord(toggleEl, boxEl) {
        // url
        const deviceID = boxEl.getAttribute('data-id')
        const recordsAPIURL = window.location.origin + '/api/device-records/'
        const deviceRecordAPIURL = `${recordsAPIURL}${deviceID}`

        // html
        const valveStat = toggleEl.target.checked ? 'on' : 'off'
        const waterStatElement = boxEl.querySelector('tr:nth-child(1) > td:nth-child(2)').textContent
        const waterStat = waterStatElement == 'No records yet' ? '' : waterStat
        const csrf = document.querySelector('input[name=csrfmiddlewaretoken]').value
        const user = document.querySelector('#username').textContent
        const details = `User ${user} has manually turned ${valveStat.toUpperCase()} the valve.`

        postData = {
            'valve_status': valveStat,
            'water_status': waterStat,
            'record_device': deviceID,
            'record_image': '',
            'details': details,
        }

        axios.post(deviceRecordAPIURL, postData, {
            headers: {
                "Content-Type": "application/json",
                "X-CSRFTOKEN": csrf,
            }
        })
            .then(resp => {
                const valveStat = resp.data['valve_status']
                const deviceName = resp.data['device_name']
                
                if (valveStat == 'on') {
                    toggleMessage(valveStat, '#004225', deviceName)
                } else {
                    toggleMessage(valveStat, '#ae1d1d', deviceName)
                }
            })
            .catch(err => console.log(err))
        
    }


    // notification
    function toggleMessage(valveStat, color, deviceName) {
        Toastify({
            text: `${deviceName} valve turned ${valveStat.toUpperCase()}`,
            gravity: "bottom",
            duration: 3000,
            style: {
                background: `${color}`,
            }
        }).showToast();
    }

    function refreshMessage() {
        Toastify({
            text: `Fetching new records...`,
            gravity: "bottom",
            duration: 3000,
            style: {
                background: `#466A8D`,
            }
        }).showToast();
    }


    // refresh dashboard
    function refreshDashboardHTML(record) {
        // data
        const deviceID = record['id']
        const newDeviceName = record['device_name']
        const newLocation = record['location']
        const newRecord = record['records'].pop()
        const newWaterStatus = newRecord['water_staus']
        const newValveStatus = newRecord['valve_status']

        // html
        const deviceBox = document.querySelector(`div.box[data-id='${deviceID}']`)
        const deviceNameElem = deviceBox.querySelector('#deviceName')
        const locationElem = deviceBox.querySelector('#location')
        const waterStatElem = deviceBox.querySelector('tr:nth-child(1) > td:nth-child(2)')
        const valveStatElem = deviceBox.querySelector('tr:nth-child(2) > td:nth-child(2)')

        // update html
        waterStatElem.textContent = newWaterStatus
        deviceNameElem.textContent = newDeviceName
        locationElem.textContent = newLocation


        if (newWaterStatus == 'dirty') {
            waterStatElem.classList.add('has-text-white', 'has-background-danger')
        } else if (newWaterStatus == 'clean') {
            waterStatElem.classList.add('has-text-success')
        } else {
            waterStatElem.textContent = 'No records yet'
        }

        if (newValveStatus == 'on') {
            valveStatElem.querySelector('input').setAttribute('checked', '')
        } else {
            valveStatElem.querySelector('input').removeAttribute('checked')
        }
    }

    function refreshDashboard() {
        const boxContainer = document.querySelector('#box-container');
        const recordsAPIURL = window.location.origin + '/api/device-records/'

        if (boxContainer) {
            axios.get(recordsAPIURL)
            .then(resp => {
                // data
                const data = resp.data
                    data.forEach(record => {
                        if (record.records.length != 0) {
                            refreshDashboardHTML(record)
                        }
                    })
            })
            .then(refreshMessage())
            .catch(err => console.log(err))
        }
    }


    // function calls
    defaultProfilePhoto()
    enableOverlay();
    createRefreshDashboard();

</script>