{% load static %}

        <div class="menu-btn">
            <i class="fas fa-bars"></i>
        </div>

        <div class="side-bar">
            <div class="close-btn">
                <i class="fas fa-times"></i>
            </div>
            <div class="header p-4 is-align-items-center is-flex is-flex-direction-column is-flex-wrap-nowrap">
                <div class="img-holder" id="id-img-holder">

                    <form id="imageProfileForm" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input class="is-hidden" type="file" name="profile_image" id="id_profile_image" data-id="{{user.id}}" onchange="uploadProfileImage(this)" accept ="image/*">
                        <div class="img-overlay" id="id-img-overlay">
                            <i class="fa fa-2x fa-light fa-camera" id="img-camera"></i>
                        </div>
                    </form>

                    {% if user.profile_image %}
                        <img src="{{ user.profile_image.url }}" id="img-profile" alt="">
                    {% else %}
                        <img src="{% static 'core/img/profile.png' %}" id="img-profile" alt="">
                    {% endif %}
                </div>
                
                <h1 class="subtitle is-4 has-text-white mt-4">{{ user }}</h1>
            </div>
            <div class="menu">
                <div class="item"> 
                    <a href="{% url 'dashboard' %}"><i class="fas fa-desktop"></i>Dashboard </a>
                </div>

                <div class="item">
                    <a href="{% url 'list_devices' %}"><i class="fas fa-th"></i>List Devices </a>
                </div>

                <div class="item">
                    <a href="{% url 'add_device' %}"><i class="fas fa-plus"></i>Add Device </a>
                </div>

                <div class="item">
                    <a href="{% url 'user_logout' %}"><i class="fas fa-info-circle"></i>Log out </a>
                </div>
            </div>
        </div>
