{% extends 'header.html' %}
{% load static %}
{% load i18n %}
{% block head_title %} Add Component | Turbiditech AI {% endblock %}


{% block content %}

<section class="section">
  <div class="container">

      {% include "includes/sidebar.html" %}

      <div class="columns">
        <div class="column is-variable is-8 is-offset-2">

          <nav class="breadcrumb is-medium has-arrow-separator" aria-label="breadcrumbs">
            <ul>
              <li><a href="{% url 'dashboard' %}">Home</a></li>
              <li><a href="{% url 'list_devices' %}">List Devices</a></li>
              <li class="is-active" ><a href="#" aria-current="page">Add Component</a></li>
            </ul>
          </nav>

          <div class="panel is-primary has-background-white">
            <p class="panel-heading">
              Add Component
            </p>
            <div class="panel-block">
                <div class="content is-full-width">
                    <form method="POST" action="{% url 'login' %}">
                        {% csrf_token %}
                
                        <div class="field">
                            <label class="label">Component Name</label>
                            <div class="control">
                              <input class="input" type="text">
                            </div>
                            <p class="help is-danger">This field is required</p>
                        </div>
                
                        <div class="field">
                            <label class="label">Device Linked</label>
                            <div class="control">
                                <div class="select is-fullwidth">
                                    <select>
                                        <option></option>
                                        {% for device in devices %}
                                            <option>{{ device.device_name }}</option>
                                        {% endfor %}
                                    </select>
                                  </div>
                            </div>
                            <p class="help is-danger">This field is required</p>
                        </div>
                
                
                        <div class="field">
                            <label class="label">Install Date</label>
                            <div class="control">
                              <input class="input" type="date">
                            </div>
                            <p class="help is-danger">Invalid date selected</p>
                        </div>
                
                
                        <div class="field">
                            <label class="label">Installed By</label>
                            <div class="control">
                              <input class="input" type="text">
                            </div>
                        </div>

                        <div class="buttons  is-justify-content-flex-end">
                            <input class="button is-success" type="submit" value="Save">
                            <a class="button" href="{% url 'list_devices' %}">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
          </div>
        </div>
      </div>

  </div>
</section>

{% endblock %} 