{% extends 'header.html' %}
{% load static %}
{% load i18n %}
{% block head_title %} Admin Update | Turbiditech AI {% endblock %}


{% block content %}

<section class="section">
    <div class="container">

        <div id="boxDetector">
            <div class="columns is-centered is-variable is-8 is-multiline mt-6">
                <div class="column is-5 mb-6"><div class="box" data-id="2"><h5 class="title is-5 has-text-centered" id="deviceName">Admin Update</h5><table class="table is-striped is-fullwidth is-hoverable"><tbody><tr><td>Dark Mode</td><td><input class="toggle" type="checkbox" id="valveStatus"></td></tr><tr><td>Refresh</td><td><button class="button is-success">Refresh</button></td></tr><tr><td>Update</td><td><button class="button is-danger">Update</button></td></tr></tbody></table></div></div>
            </div>
        </div>

    </div>
</section>

{% endblock %}

