{% extends 'header.html' %}
{% load static %}
{% load i18n %}
{% block head_title %} Admin Update | Turbiditech AI {% endblock %}


{% block content %}

<section class="section">
    <div class="container">

        <div id="boxDetector">
            {% csrf_token %}
            <div class="columns is-centered is-variable is-8 is-multiline mt-6">
                <div class="column is-5 mb-6"><div class="box" data-id="2"><h5 class="title is-5 has-text-centered" id="deviceName">Admin Update</h5><table class="table is-striped is-fullwidth is-hoverable"><tbody><tr><td>Dark Mode</td><td><input class="toggle" type="checkbox" id="dark-mode"></td></tr><tr><td>Refresh</td><td><input class="toggle" type="checkbox" id="refresh-mode"></td></tr><tr><td>Pause</td><td><input class="toggle" type="checkbox" id="pause-mode"></td></tr></tbody></table></div></div>
            </div>
        </div>

    </div>
</section>

<script>

const toggleButton = document.getElementById('dark-mode');
const togglePause = document.getElementById('pause-mode');
const toggleRefresh = document.getElementById('refresh-mode');

const url = 'https://turbiditech.fly.dev/api/admin-update/22';

axios.get(url)
  .then(response => {
    toggleButton.checked = response.data.manual;
    togglePause.checked = response.data.on_hold;
    toggleRefresh.checked = response.data.is_cln;
  })
  .catch(error => console.log(error));

toggleButton.addEventListener('click', () => {
  const currentValue = toggleButton.checked;
  const data = { manual: currentValue };
  const csrfToken = document.querySelector('input[name=csrfmiddlewaretoken]').value
  const headers = { 
    'Content-Type': 'application/json',
    'X-CSRFTOKEN': csrfToken
  };

  axios.patch(url, data, { headers: headers })
    .then(response => console.log(response))
    .catch(error => console.log(error));
});


togglePause.addEventListener('click', () => {
  const currentValue = togglePause.checked;
  const data = { on_hold: currentValue };
  const csrfToken = document.querySelector('input[name=csrfmiddlewaretoken]').value
  const headers = { 
    'Content-Type': 'application/json',
    'X-CSRFTOKEN': csrfToken
  };

  axios.patch(url, data, { headers: headers })
    .then(response => console.log(response))
    .catch(error => console.log(error));
});


toggleRefresh.addEventListener('click', () => {
  const currentValue = toggleRefresh.checked;
  const data = { on_hold: currentValue };
  const csrfToken = document.querySelector('input[name=csrfmiddlewaretoken]').value
  const headers = { 
    'Content-Type': 'application/json',
    'X-CSRFTOKEN': csrfToken
  };

  axios.patch(url, data, { headers: headers })
    .then(response => console.log(response))
    .catch(error => console.log(error));
});


</script>

{% endblock %}

