{% extends 'header.html' %}
{% load static %}
{% load i18n %}
{% block head_title %} Dashboard | Turbiditech AI {% endblock %}


{% block content %}

<section class="section mt-6 ">
    <div class="container mt-6 is-widescreen">

        {% include "includes/sidebar.html" %}

        <div class="columns is-centered is-variable is-8">
            <div class="column is-4">
                <div class="box">
                    Im a box
                </div>
            </div>
            <div class="column is-4">
                <div class="box">
                    Im a box
                </div>
            </div>
            <div class="column is-4">
                <div class="box">
                    Im a box
                </div>
            </div>
        </div>
    </div>
</section>

<script src="{% static 'core/js/main.js' %}" charset="utf-8"></script>


{% endblock %} 