{% extends 'header.html' %}
{% load static %}
{% load i18n %}
{% block head_title %} Turbidity Records | Turbiditech AI {% endblock %}


{% block content %}

<section class="section">
    <div class="container">

        <div class="columns mt-6">
            <div class="column is-variable is-10 is-offset-1">

                <nav class="breadcrumb is-medium has-arrow-separator" aria-label="breadcrumbs">
                    <ul>
                      <li><a href="{% url 'dashboard' %}">Home</a></li>
                      <li class="is-active"><a href="{% url 'list_devices' %}" aria-current="page">View Records</a></li>
                    </ul>
                </nav>

                <div class="panel is-primary has-background-white">
                    <p class="panel-heading">
                        List Records
                    </p>
                    <div class="panel-block">
                        <div class="table-container is-full-width">
                            <table class="table is-bordered is-striped is-hoverable is-fullwidth">
                                <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>Time</th>
                                        <th>Image Link</th>
                                        <th>Valve Status</th>
                                        <th>Water Status</th>
                                        <th>Details</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for record in records %}
                                        {% if record.id != null %}

                                            <tr>
                                                <td>{{ record.record_date }}</td>
                                                <td>{{ record.record_time }}</td>
                                                <td><a href="/media/{{ record.record_image }}" target="_blank">{{ record.record_image | cut:'record_images/' }}</a></td>

                                                {% if record.valve_status == 'on' %}
                                                    <td class="is-on">{{ record.valve_status }}</td>
                                                {% elif record.valve_status == '' %}
                                                    <td>{{ record.valve_status }}</td>
                                                {% else %}
                                                    <td class="is-off">{{ record.valve_status }}</td>
                                                {% endif %}

                                                {% if record.water_status == 'clean' %}
                                                    <td class="is-on">{{ record.water_status }}</td>
                                                {% elif record.water_status == '' %}
                                                    <td>{{ record.water_status }}</td>
                                                {% else %}
                                                    <td class="is-off">{{ record.water_status }}</td>
                                                {% endif %}


                                                <td>{{ record.details }}</td>
                                            </tr>
                                        {% else %}
                                            <tr>
                                                <td colspan="8" class="has-text-centered">No records found.</td>
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div> <!-- end panel-block -->
                
                </div> <!-- end panel -->

                {% if records.has_other_pages %}
                    <nav class="pagination" role="navigation" aria-label="pagination">
                        
                        <ul class="pagination-list">
                            {% for page_number in records.adjusted_elided_pages   %}

                                {% if page_number == records.paginator.ELLIPSIS %}
                                    <li><span class="pagination-ellipsis">&hellip;</span></li>
                                {% else %}
                                    {% if records.number == page_number %}
                                        <li><a class="pagination-link is-current" aria-label="Page {{ page_number }}" aria-current="page">{{ page_number }}</a></li>
                                    {% else %}
                                        <li><a class="pagination-link" href="?page={{ page_number }}" aria-label="Goto page {{ page_number }}">{{ page_number }}</a></li>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </ul>


                        {% if records.has_previous %}
                            <a class="pagination-previous has-background-white-bis" href="?page={{ records.previous_page_number }}">Previous</a>
                        {% else %}
                            <a class="pagination-previous is-disabled">Previous</a>
                        {% endif %}


                        {% if records.has_next %}
                            <a class="pagination-next has-background-white-bis" href="?page={{ records.next_page_number  }}">Next page</a>
                        {% else %}
                            <a class="pagination-next is-disabled">Next page</a>
                        {% endif %}
                    </nav>
                {% endif %}

                <div class="panel is-primary panel-gap">
                    <p class="panel-heading">
                        Delete Records
                    </p>
                    <div class="panel-content p-3 has-background-white">

                        <form method="POST" id="delete-records-form">
                            {% csrf_token %}

                            <div class="field">
                                <div class="field-body">
                                    <div class="field is-expanded">
                                        <div class="field">
                                            <p class="control is-expanded">
                                                <input type="date" name="start_date" class="input" required="" id="id_start_date">
                                            </p>
                                        </div>
                                        <p class="help">Start Date</p>
                                    </div>
                                </div>
                            </div>


                            <div class="field">
                                <div class="field-body">
                                    <div class="field is-expanded">
                                        <div class="field">
                                            <p class="control is-expanded">
                                                <input type="date" name="end_date" class="input" required="" id="id_end_date">
                                            </p>
                                        </div>
                                        <p class="help">End Date</p>
                                    </div>
                                </div>
                            </div>

                            {% for message in messages %}
                                <p class="has-text-left help is-danger is-size-6 is-italic">{{ message }}</p>
                            {% endfor %}

                            
                            <div class="buttons is-right">
                                <div class="button is-danger js-modal-trigger" data-target="delete-records-modal">
                                        Delete
                                </div>
                            </div>


                            <div class="modal" id="delete-records-modal">
                                <div class="modal-background"></div>
                                <div class="modal-card">
                                  <header class="modal-card-head is-borderless">
                                    <p class="modal-card-title title">Delete Records</p>
                                  </header>
                                  <section class="modal-card-body">
                                    <h3 class="title is-5 has-text-centered">Are you sure you want to delete these records?</h3>
                                  </section>
                                  <footer class="modal-card-foot is-justify-content-flex-end is-borderless">
                                    <button class="button is-danger" id="delete-records" type="submit">Yes</button>
                                    <button class="button">Cancel</button>
                                  </footer>
                                </div>
                            </div>


                        </form>

                    </div>
                </div> <!-- end delete records -->


            </div> <!-- end column is-variable -->
        </div>  <!-- end column mt-6 -->
    </div>
</section>


{% endblock %} 