{% extends 'header.html' %}
{% load static %}
{% load i18n %}
{% block head_title %} Turbidity Records | Turbiditech AI {% endblock %}


{% block content %}

<section class="section mt-6 ">
    <div class="container mt-6">

        {% include "includes/sidebar.html" %}

        <div class="columns is-centered is-variable is-8 is-offset-2">
            <div class="column">
                <div class="panel is-primary has-background-white">
                    <p class="panel-heading">
                        Device List
                    </p>
                    <div class="panel-block">
                        <div class="table-container is-full-width">
                            <table class="table is-bordered is-striped is-hoverable is-fullwidth">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Name</th>
                                        <th>Status</th>
                                        <th>Location</th>
                                        <th>Install Date</th>
                                        <th>Manage By</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for device in devices%}
                                        <tr>
                                            <td>{{ device.device_id }}</td>
                                            <td>{{ device.device_name }}</td>
                                            <td>{{ device.device_status }}</td>
                                            <td>{{ device.device_location }}</td>
                                            <td>{{ device.install_date }}</td>
                                            <td>{{ device.managed_by }}</td>
                                            <td class="has-text-centered">
                                                <span class="icon-text is-flex-wrap-nowrap">
                                                    <span class="icon mr-4 is-clickable">
                                                      <i class="fa fa-trash has-text-danger"></i>
                                                    </span>
                                                    <span class="icon is-clickable">
                                                        <i class="fa fa-pen has-text-primary js-modal-trigger" data-target="edit-device-modal"></i>
                                                    </span>
                                                </span>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div> <!-- end panel-block -->
                </div>

                <!-- edit device modal -->
                <div class="modal" id="edit-device-modal">
                    <div class="modal-background"></div>
                    <div class="modal-card">
                      <header class="modal-card-head is-borderless">
                        <p class="modal-card-title title">Edit Device</p>
                      </header>
                      <section class="modal-card-body">
                        {% include "includes/edit-device.html" %}
                      </section>
                      <footer class="modal-card-foot is-justify-content-flex-end is-borderless">
                        <button class="button is-success">Save</button>
                        <button class="button">Cancel</button>
                      </footer>
                    </div>
                </div>

                <!-- add device modal -->
                <div class="modal" id="add-device-modal">
                    <div class="modal-background"></div>
                    <div class="modal-card">
                      <header class="modal-card-head is-borderless">
                        <p class="modal-card-title title">Add Device</p>
                      </header>
                      <section class="modal-card-body">
                        {% include "includes/add-device.html" %}
                      </section>
                      <footer class="modal-card-foot is-justify-content-flex-end is-borderless">
                        <button class="button is-success">Save</button>
                        <button class="button">Cancel</button>
                      </footer>
                    </div>
                </div>

                <button class="button is-info is-pulled-right js-modal-trigger" data-target="add-device-modal">Add Device</button>
            </div> <!-- end column -->

        </div>

        <div class="columns is-centered is-variable is-8 is-offset-2 mt-6">
            <div class="column">
                <div class="panel is-primary has-background-white">
                    <p class="panel-heading">
                        Component List
                    </p>
                    <div class="panel-block">
                        <div class="table-container is-full-width">
                            <table class="table is-bordered is-striped is-hoverable is-fullwidth">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Name</th>
                                        <th>Device Linked</th>
                                        <th>Install Date</th>
                                        <th>Manage By</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for compo in components%}
                                        <tr>
                                            <td>{{ compo.component_id }}</td>
                                            <td>{{ compo.component_name }}</td>
                                            <td>{{ compo.device_linked }}</td>
                                            <td>{{ compo.install_date }}</td>
                                            <td>{{ compo.managed_by }}</td>
                                            <td class="has-text-centered">
                                                <span class="icon-text is-flex-wrap-nowrap">
                                                    <span class="icon mr-4">
                                                        <a href=""><i class="fa fa-trash has-text-danger"></i></a>
                                                    </span>
                                                    <span class="icon is-clickable">
                                                        <i class="fa fa-pen has-text-primary js-modal-trigger" data-target="edit-component-modal"></i>
                                                    </span>
                                                </span>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div> <!-- end panel-block -->
                </div>

                <!-- edit component modal -->
                <div class="modal" id="edit-component-modal">
                    <div class="modal-background"></div>
                    <div class="modal-card">
                      <header class="modal-card-head is-borderless">
                        <p class="modal-card-title title">Edit Component</p>
                      </header>
                      <section class="modal-card-body">
                        {% include "includes/edit-component.html" %}
                      </section>
                      <footer class="modal-card-foot is-justify-content-flex-end is-borderless">
                        <button class="button is-success">Save</button>
                        <button class="button">Cancel</button>
                      </footer>
                    </div>
                </div>

                <!-- add component modal -->
                <div class="modal" id="add-component-modal">
                    <div class="modal-background"></div>
                    <div class="modal-card">
                      <header class="modal-card-head is-borderless">
                        <p class="modal-card-title title">Add Component</p>
                      </header>
                      <section class="modal-card-body">
                        {% include "includes/add-component.html" with devices=devices %}
                      </section>
                      <footer class="modal-card-foot is-justify-content-flex-end is-borderless">
                        <button class="button is-success">Save</button>
                        <button class="button">Cancel</button>
                      </footer>
                    </div>
                </div>
                <button class="button is-info is-pulled-right js-modal-trigger" data-target="add-component-modal">Add Component</button>
                
                
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message  }}</li>
                    {% endfor %}
                </ul>
                {% endif %}


            </div> <!-- end column -->
        </div>
    </div>
</section>

<script src="{% static 'core/js/main.js' %}" charset="utf-8"></script>


{% endblock %} 