{% extends 'header.html' %}
{% load static %}
{% load i18n %}
{% block head_title %} List Devices | Turbiditech AI {% endblock %}


{% block content %}

<section class="section">
    <div class="container">

        {% include "includes/sidebar.html" %}

        <div class="columns">
            <div class="column is-variable is-10 is-offset-1">

                <nav class="breadcrumb is-medium has-arrow-separator" aria-label="breadcrumbs">
                    <ul>
                      <li><a href="{% url 'dashboard' %}">Home</a></li>
                      <li class="is-active" ><a href="#" aria-current="page">List Devices</a></li>
                    </ul>
                </nav>

                <div class="panel is-primary has-background-white">
                    <p class="panel-heading">
                        Device List
                    </p>
                    <div class="panel-block">
                        <div class="table-container is-full-width">
                            <table class="table is-bordered is-striped is-hoverable is-fullwidth">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Name</th>
                                        <th>Status</th>
                                        <th>Location</th>
                                        <th>Install Date</th>
                                        <th>Manage By</th>
                                        <th>Options</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for device in devices%}
                                        <tr>
                                            <td>{{ device.device_id }}</td>
                                            <td>{{ device.device_name }}</td>
                                            <td>{{ device.device_status }}</td>
                                            <td>{{ device.device_location }}</td>
                                            <td>{{ device.install_date }}</td>
                                            <td>{{ device.managed_by }}</td>
                                            <td class="has-text-centered">
                                                <span class="icon-text is-flex-wrap-nowrap">
                                                    <span class="icon mr-4 is-clickable">
                                                      <i class="fa fa-trash has-text-danger" onclick="confirmDeleteDevice(`{% url 'turbidity_records' device.device_id %}`)"></i>
                                                    </span>
                                                    <span class="icon is-clickable">
                                                        <a href="{% url 'edit_device' device.device_id %}"><i class="fa fa-pen has-text-primary"></i></a>
                                                    </span>
                                                </span>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div> <!-- end panel-block -->
                </div>

                <!-- delete device modal -->
                <div class="modal" id="delete-device-modal">
                    <div class="modal-background"></div>
                    <div class="modal-card">
                      <header class="modal-card-head is-borderless">
                        <p class="modal-card-title title">Delete Device</p>
                      </header>
                      <section class="modal-card-body">
                        <h3 class="title is-5 has-text-centered">Are you sure you want to delete this device?</h3>
                      </section>
                      <footer class="modal-card-foot is-justify-content-flex-end is-borderless">
                        <button class="button is-danger">Yes</button>
                        <button class="button">Cancel</button>
                      </footer>
                    </div>
                </div>

                <a href="{% url 'add_device' %}" class="button is-info is-pulled-right">Add Device</a>
            </div> <!-- end column -->

        </div>

        <div class="columns">
            <div class="column is-variable is-10 is-offset-1 mt-6">
                <div class="panel is-primary has-background-white">
                    <p class="panel-heading">
                        Component List
                    </p>
                    <div class="panel-block">
                        <div class="table-container is-full-width">
                            <table class="table is-bordered is-striped is-hoverable is-fullwidth">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Name</th>
                                        <th>Device Linked</th>
                                        <th>Install Date</th>
                                        <th>Installed By</th>
                                        <th>Options</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for compo in components%}
                                        <tr>
                                            <td>{{ compo.component_id }}</td>
                                            <td>{{ compo.component_name }}</td>
                                            <td>{{ compo.device_linked }}</td>
                                            <td>{{ compo.install_date }}</td>
                                            <td>{{ compo.managed_by }}</td>
                                            <td class="has-text-centered">
                                                <span class="icon-text is-flex-wrap-nowrap">
                                                    <span class="icon mr-4">
                                                        <i class="fa fa-trash has-text-danger" onclick="confirmDeleteComponent(`{% url 'turbidity_records' compo.component_id %}`)"></i>
                                                    </span>
                                                    <span class="icon is-clickable">
                                                        <a href="{% url 'edit_component' compo.component_id %}"><i class="fa fa-pen has-text-primary"></i></a>
                                                    </span>
                                                </span>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div> <!-- end panel-block -->
                </div>

                <!-- delete component modal -->
                <div class="modal" id="delete-component-modal">
                    <div class="modal-background"></div>
                    <div class="modal-card">
                      <header class="modal-card-head is-borderless">
                        <p class="modal-card-title title">Delete Component</p>
                      </header>
                      <section class="modal-card-body">
                        <h3 class="title is-5 has-text-centered">Are you sure you want to delete this component?</h3>
                      </section>
                      <footer class="modal-card-foot is-justify-content-flex-end is-borderless">
                        <button class="button is-danger">Yes</button>
                        <button class="button">Cancel</button>
                      </footer>
                    </div>
                </div>

                <a href="{% url 'add_component' %}" class="button is-info is-pulled-right">Add Component</a>
                
                
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message  }}</li>
                    {% endfor %}
                </ul>
                {% endif %}


            </div> <!-- end column -->
        </div>
    </div>
</section>

{% endblock %} 