
{% extends 'header.html' %}
{% load static %}
{% load i18n %}
{% block head_title %} {{ header_title }} {% endblock %}



{% block content %}

<section class="section">
  
  <div class="container is-max-desktop">
    <div class="columns">
      <div class="column is-6 is-offset-3">
        <form class="box box-radius p-6" method="POST" action="{% url 'login' %}">
          {% csrf_token %}
  
          <h1 class="title is-2 has-text-centered has-text-black">
            Turbiditech AI
          </h1>
          <h2 class="title is-3 has-text-centered has-text-grey mt-4">
            Log In
          </h2>
  
          <div class="field mt-6">
            <label class="label">Email</label>
            <div class="control">
              <input class="input" type="email">
            </div>
          </div>

          <div class="field mt-4">
            <label class="label">Password</label>
            <div class="control">
              <input class="input" type="password">
            </div>
          </div>
  
          <button class="button is-large is-fullwidth is-link mt-6" type="submit">Log in</button>
        </form>
  
      </div>
    </div>
  </div>

</section>

{% endblock %}