
{% extends 'header.html' %}
{% load static %}
{% load i18n %}
{% block head_title %} Reset Password Sent | Turbiditech AI {% endblock %}

{% block content %}

<section class="section">
  
  <div class="container is-max-desktop">
    <div class="columns">
      <div class="column is-8 is-offset-2">
        <form class="box box-radius p-6">
          {% csrf_token %}
  
          <h1 class="title is-2 has-text-centered has-text-black mb-5">
            Turbiditech AI
          </h1>
          <h2 class="title is-3 has-text-centered has-text-grey mb-6">
            Reset Password Sent
          </h2>

          <div class="content">
            <p>We've emailed you instructions for setting your password. If you have not received it please check your spam folder. Otherwise contact us at <a href="mailto:helpdesk.turbiditech@gmail.com">helpdesk.turbiditech@gmail.com</a> if you do not receive it in a few minutes.</p>
          </div>

        </form>
  
      </div>
    </div>
  </div>

</section>

{% endblock %}